<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Claire's Projects</title>
        <link rel="stylesheet" href="~/css/projects.css"/>
    </head>
    <body>
        <ul>
            <li><a href ="home">Home</a></li>
            <li><a href="projects">Projects</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
        
        <h1>Claire's Projects</h1>
        <div class="projects">
            <h3>Appointments</h3>
            <img src="~/css/appointments.png">
            <p>Written using Python/Django with a MySQL Database
            I created an app that tracks a User's appointments. A user must Register and Login. Once logged in, User can add events and edit them as Done or Missed. This app is deployed on AWS.
            </p>
        </div>
        <div class="projects">
            <h3>Travels</h3>
            <img src="~/css/travel.png">
            <p>Written using Python/Django with a MySQL Database
            This app also features a User Login and Registration. Once logged in, User can schedule their own travel plans or join another user's trip. This uses a complex Join MySQL Query to accomplish this on the backend. This app is deployed on AWS.
            </p>
        </div>
        <div class="projects">
            <h3>Book Reviewer</h3>
            <img src="~/css/bookreviewer.png">
            <p>Written using Python/Django wiht a MySQL Database
            This app has the classic User Login and Registration. Once logged in, Users can written reviews on books and rate them out of 5 stars. Once a book is added into the database, other users can rate and review the book.
            </p>
        </div>
    </body>
</html>