* {
    margin: 0;
    padding: 0;
}

body {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(circle, lightgrey, darkgray); /* Safari */       
    background: -moz-radial-gradient(circle, lightgrey, darkgray); /* Firefox 3.6 to 15 */
    background: radial-gradient(circle, lightgrey, darkgray); /* Standard syntax */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow:  hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

img {
    display: inline;
}

#text {
    width: 40%;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

p {
    padding-top: 10px;
    display: inline-block;
    width: 75%;
}