<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>QuotingDojo</title>
    </head>
    <body>
        <h1>Welcome to QuotingDojo</h1>
        <form action="/submit" method="POST">
            <label for="Name">Your Name: </label><input type="text" name="Name"><br>
            <label for="Quote">Your Quote: </label><textarea name="Quote"></textarea>
            <input type="submit" value="Add my Quote">
        </form>
        <button><a href="/Quotes">Skip to Quotes!</a></button>
    </body>
</html>