@{
    ViewData["Title"] = "Home Page";
}

<form action="/add_show" method="POST">
    <input type="text" name="Title" placeholder="Title">
    <input type="text" name="Network" placeholder="Network">
    <textarea name="Description" placeholder="Description..."></textarea>
    <input type="submit" class="button-primary" value="Submit">
</form>